.card-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  width: 280px;
  background-color: #ffffff;
  border: 2px solid #e5e5e5;
  border-radius: 32px;
  transition: all 0.4s ease-in-out;
  min-width: 0;
}

.card-container .image {
  background-image: url("../assets/images/hongkong.jpg");
  background-size: cover;
  box-shadow: 0 20px 60px rgba(0, 9, 45, 0.12);
  min-height: 253px;
  min-width: 253px;
  border-radius: 25px;
  margin-top: 14px;
  margin-bottom: 23px;
  transition: all 0.4s ease-in-out;
}

.card-container .headline-container {
  width: 253px;
}

.card-container .headline {
  font-weight: 600;
  font-size: 18px;
  text-align: center;
  color: #00092D;
  line-height: 25px;
  padding-bottom: 7px;
  margin: 0;
  transition: all 0.4s ease-in-out;
}

.card-container .timing {
  font-weight: 400;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.6);
  margin-bottom: 14px;
  transition: all 0.4s ease-in-out;
}

.card-container:focus, .card-container:hover, .card-container:active {
  background-color: #00092D;
  border: 2px solid #00092D;
  transform: translateY(-5px);
}

.card-container:focus .image, .card-container:hover .image, .card-container:active .image {
  box-shadow: none;
  margin-top: 16px;
  height: 248px;
  width: 248px;
  border-radius: 22px;
}

.card-container:focus .headline, .card-container:hover .headline, .card-container:active .headline {
  color: #ffffff;
}

.card-container:focus .timing, .card-container:hover .timing, .card-container:active .timing {
  font-weight: 500;
  color: #FF8B8B;
}

.card-container:focus::after, .card-container:hover::after, .card-container:active::after {
  content: '';
  height: 20px;
  width: 280px;
  background-color: rgba(0, 9, 45, 0.7);
  border-radius: 25px;
  box-shadow: 0 20px 60px rgba(0, 9, 45, 0.12);
  position: absolute;
  left: 50%;
  bottom: -10%;
  transform: translate(-50%);
  z-index: -10;
  -webkit-filter: blur(40px);
  -moz-filter: blur(40px);
  -o-filter: blur(40px);
  -ms-filter: blur(40px);
  filter: blur(40px);
}

@media (max-width: 420px) {
  .card-container {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    flex-direction: row;
    width: 300px;
    background-color: #ffffff;
    border: 2px solid #e5e5e5;
    border-radius: 25px;
    transition: all .4s ease-in-out;
    min-width: 0;
  }
  .card-container .image {
    background-image: url("../assets/images/hongkong.jpg");
    background-size: cover;
    box-shadow: 0 20px 60px rgba(0, 9, 45, 0.12);
    min-height: 118px;
    min-width: 118px;
    border-radius: 18px;
    margin: 16px;
    transition: all 0.4s ease-in-out;
  }
  .card-container .headline-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 16px;
    padding-right: 16px;
  }
  .card-container .headline {
    font-weight: 600;
    font-size: 15px;
    text-align: left;
    color: #00092D;
    line-height: 20px;
    padding-bottom: 7px;
    margin: 0;
    transition: all 0.4s ease-in-out;
  }
  .card-container .timing {
    font-weight: 400;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.6);
    transition: all 0.4s ease-in-out;
  }
  .card-container:focus, .card-container:hover, .card-container:active {
    background-color: #00092D;
    border: 2px solid #00092D;
    transform: translateY(-5px);
  }
  .card-container:focus .image, .card-container:hover .image, .card-container:active .image {
    box-shadow: none;
    margin-top: 16px;
    height: 118px;
    width: 118px;
    border-radius: 22px;
  }
  .card-container:focus .headline, .card-container:hover .headline, .card-container:active .headline {
    color: #ffffff;
  }
  .card-container:focus .timing, .card-container:hover .timing, .card-container:active .timing {
    font-weight: 500;
    color: #FF8B8B;
  }
  .card-container:focus::after, .card-container:hover::after, .card-container:active::after {
    content: '';
    height: 30px;
    width: 250px;
    background-color: rgba(0, 9, 45, 0.7);
    border-radius: 25px;
    box-shadow: 0 20px 60px rgba(0, 9, 45, 0.12);
    position: absolute;
    left: 50%;
    bottom: -10%;
    transform: translate(-50%);
    z-index: -10;
    -webkit-filter: blur(20px);
    -moz-filter: blur(20px);
    -o-filter: blur(20px);
    -ms-filter: blur(20px);
    filter: blur(20px);
  }
}

.container {
  padding-top: 40px;
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-gap: 40px 50px;
  min-height: 0;
  /* NEW */
  min-width: 0;
}

.month {
  margin-top: 50px;
  margin-bottom: 50px;
}

@media (max-width: 1100px) {
  .container {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 750px) {
  .container {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .container:not(:last-child) {
    margin-bottom: 30px;
  }
}

.header {
  height: 100vh;
  width: 100vw;
  background-color: #ffffff;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
}

.sub-container {
  padding: 20px;
  max-width: 90vw;
}

.center-absolute {
  position: absolute;
  top: 50%;
  /* position the top  edge of the element at the middle of the parent */
  left: 50%;
  /* position the left edge of the element at the middle of the parent */
  transform: translate(-50%, -50%);
  /* This is a shorthand of translateX(-50%) and translateY(-50%) */
}

@media (min-width: 1200px) {
  .center-absolute {
    transform: translate(-50%, -60%);
  }
}

.month-name {
  font-weight: 600;
  font-size: 40px;
  text-align: left;
}

.twenty-twenty {
  font-weight: 400;
  font-size: 360px;
}

.sub-line {
  font-weight: 500;
  font-size: 23px;
}

.highlight {
  font-weight: 500;
  font-size: 23px;
  color: #FF8B8B;
}

.link-text {
  font-weight: 500;
  font-size: 25px;
  color: #FF8B8B;
  text-decoration: none;
  transition: all .2s ease-in-out;
}

.link-text:hover, .link-text:visited, .link-text:active {
  font-weight: 500;
  font-size: 25px;
  color: #FF8B8B;
  text-decoration: underline;
}

@media (max-width: 1200px) {
  .twenty-twenty {
    font-size: 280px;
  }
  .sub-line {
    font-size: 20px;
  }
  .highlight {
    font-size: 20px;
  }
}

@media (max-width: 850px) {
  .twenty-twenty {
    font-size: 220px;
  }
  .sub-line {
    font-size: 18px;
  }
  .highlight {
    font-size: 18px;
  }
  .month-name {
    text-align: center;
  }
}

@media (max-width: 580px) {
  .twenty-twenty {
    font-size: 100px;
  }
  .sub-line {
    font-size: 12px;
  }
  .highlight {
    font-size: 12px;
  }
  .month-name {
    text-align: center;
  }
  .link-text {
    font-size: 22px;
  }
  .link-text:hover, .link-text:visited, .link-text:active {
    font-size: 22px;
  }
}

.footer {
  padding: 50px;
  padding-bottom: 15px;
}

.form {
  margin-top: 30px;
  color: #09ada8;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', sans-serif;
  color: #00092D;
  text-align: center;
  box-sizing: border-box;
  margin: 0;
  padding: 20px;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

a:hover, a:visited, a:active {
  text-decoration: none;
}
