.header {
  height: 95vh;
  width: 95vw;
  background-color: $white-color;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
}

.sub-container {
  padding: 20px;
  max-width: 85vw;
}

.gif {
  // width: 100%
}

@media (max-width: 530px)
{
  .gif {
    width: 75vw;
    height: auto;
  }

  .header {
    width: 90vw;
  }
}
