.card-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  // height: $card-height;
  width: $card-width;
  background-color: $white-color;
  border: $border;
  border-radius: 32px;
  transition: all 0.4s ease-in-out;
  min-width: 0;

  .image {
    background-image: url("../assets/images/hongkong.jpg");
    background-size: cover;
    box-shadow: $shadow-image;
    min-height: $image-side;
    min-width: $image-side;
    border-radius: 25px;
    margin-top: $image-margin;
    margin-bottom: 23px;
    transition: all 0.4s ease-in-out;
  }

  .headline-container {
    width: $image-side;
  }

  .headline {
    font-weight: 600;
    font-size: 18px;
    text-align: center;
    color: $primary-color;
    line-height: 25px;
    padding-bottom: 7px;
    margin: 0;
    transition: all 0.4s ease-in-out;
  }

  .timing {
    font-weight: 400;
    font-size: 12px;
    color: $muted-text-color;
    margin-bottom: $image-margin;
    transition: all 0.4s ease-in-out;
  }

  &:focus,
  &:hover,&:active {
    background-color: $primary-color;
    border: $border-hover;
    transform: translateY(-5px);

    .image {
      box-shadow: none;
      margin-top: $image-margin-hover;
      height: $image-side-hover;
      width: $image-side-hover;
      border-radius: 22px;
    }

    .headline {
      color: $white-color;
    }

    .timing {
      font-weight: 500;
      color: $accent-color;
    }
    // FOR THAT CUSTOM SHADOW ON HOVER
    &::after {
      content: '';
      height: 20px;
      width: 220px;
      background-color: rgba($primary-color, .7);
      // background-color: $accent-color;
      border-radius: 25px;
      box-shadow: $shadow-image;
      position: absolute;
      left: 50%;
      bottom: -3%;
      transform: translate(-50%);
      z-index: -10;
      -webkit-filter: blur(30px);
      -moz-filter: blur(30px);
      -o-filter: blur(30px);
      -ms-filter: blur(30px);
      filter: blur(30px);
    }
  }
}


@media (max-width: 420px) {
  .card-container {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    flex-direction: row;
    // height: 150px;
    width: 300px;
    background-color: $white-color;
    border: $border;
    border-radius: 22px;
    transition: all .4s ease-in-out;
    min-width: 0;

    .image {
      background-image: url("../assets/images/hongkong.jpg");
      background-size: cover;
      box-shadow: $shadow-image;
      min-height: 118px;
      min-width: 118px;
      border-radius: 16px;
      margin: 16px;
      transition: all 0.4s ease-in-out;
    }

    .headline-container {
      // height: calc(150px - 16px);
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
      padding-top: 16px;
      padding-right: 16px;
    }

    .headline {
      font-weight: 600;
      font-size: 15px;
      text-align: left;
      color: $primary-color;
      line-height: 20px;
      padding-bottom: 7px;
      margin: 0;
      transition: all 0.4s ease-in-out;
    }

    .timing {
      font-weight: 400;
      font-size: 12px;
      color: $muted-text-color;
      transition: all 0.4s ease-in-out;
    }

  &:focus,
  &:hover,&:active {
    background-color: $primary-color;
    border: $border-hover;
    transform: translateY(-5px);

    .image {
      box-shadow: none;
      margin-top: 16px;
      height: 118px;
      width: 118px;
      border-radius: 16px;
    }

    .headline {
      color: $white-color;
    }

    .timing {
      font-weight: 500;
      color: $accent-color;
    }

    // FOR THAT CUSTOM SHADOW ON HOVER
    &::after {
      content: '';
      height: 30px;
      width: 250px;
      background-color: rgba($primary-color, .7);
      // background-color: $accent-color;
      border-radius: 22px;
      box-shadow: $shadow-image;
      position: absolute;
      left: 50%;
      bottom: -10%;
      transform: translate(-50%);
      z-index: -10;
      -webkit-filter: blur(20px);
      -moz-filter: blur(20px);
      -o-filter: blur(20px);
      -ms-filter: blur(20px);
      filter: blur(20px);
    }
  }}
}
